@font-face {
  font-family: BebasNeueRegular;
  src: url('../../static/fonts/BebasNeueRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto Condensed;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
  //   font-weight: normal;
  //   font-style: normal;
}

@font-face {
  font-family: League Gothic;
  src: url('../../static/fonts/LeagueGothic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Archivo Narrow;
  src: url('../../static/fonts/ArchivoNarrow-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Archivo Narrow;
  src: url('../../static/fonts/ArchivoNarrow-Regular.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Archivo Narrow;
  src: url('../../static/fonts/ArchivoNarrow-Regular.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Archivo Narrow;
  src: url('../../static/fonts/ArchivoNarrow-Regular.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  font-weight: normal;
  font-style: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  font-family: BebasNeueRegular;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1e90ff;
  padding: 0.7rem;
  border-radius: 3rem;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button :hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
