@font-face {
  font-family: 'BebasNeueRegular';
  src: url('/fonts/BebasNeueRegular.otf');
}
@font-face {
  font-family: 'ArchivoNarrow';
  src: url('/fonts/ArchivoNarrow.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

$color-purple: #4a2a50;
$color-tan: #e7cc98;
$color-gray: #9b9b9b;
$font-reg: 'ArchivoNarrow', sans-serif;
$font-header: 'BebasNeueRegular';
$font-serif: 'Crimson Text';

@import './card.scss';
@import './homeboxes.scss';
@import './hero.scss';
@import './boardRec.scss';
@import './videos.scss';

body {
  background-color: $color-purple;
  color: $color-tan;
  font-family: $font-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

#cardPool {
  background-color: $color-tan;
  color: $color-purple;
  min-height: 100vh;

  padding: 1em;

  & #deckInfo {
    & .deckInfo-header h1 {
      font-family: $font-header;
      font-size: 2rem;
      padding-bottom: 0.25em;
    }
    & .deckInfo-boxes {
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: 1fr 2fr 1fr;
      min-height: 10vh;
      & .deckInfo-box {
        background-color: #fff;
        border-radius: 0.25em;
        padding: 0.5em;

        & .info-icons {
          padding: 0.5em 0;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));

          & .icon-wrap {
            display: flex;
            flex-direction: row;
            font-family: $font-header;
            align-items: center;
            justify-content: center;
            & i {
              padding-right: 5px;
            }
          }
        }
      }
      & .deckInfo-box-wrapper {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr;
      }
      & .info-hero,
      .info-sidekick {
        & h1 {
          font-family: $font-header;
        }
      }
    }
  }
}

// DESKTOP
@media (min-width: 600px) {
  #home-boxes {
    grid-template-columns: 1fr 1fr;
  }

  .board-button-wrapper {
    display: flex;
    flex-direction: row;
  }

  & .video-wrapper {
    background-size: 130%;
  }

  #cardPool {
    & #deckInfo {
      & .deckInfo-boxes {
        grid-template-columns: 1fr 2fr 1fr;
      }
    }
  }
}

// MOBILE
@media (max-width: 600px) {
  #home-boxes {
    grid-template-columns: 1fr;
  }

  .board-button-wrapper {
    display: flex;
    flex-direction: column;
    & .recButton-wrapper {
      margin-bottom: 0.5em !important;
    }
  }

  & .video-wrapper {
    background-size: 130%;
  }

  #cardPool {
    & #deckInfo {
      & .deckInfo-boxes {
        grid-template-columns: 1fr;
      }
    }
  }
}
