@font-face {
  font-family: 'BebasNeueRegular';
  src: url('/fonts/BebasNeueRegular.otf');
}
@font-face {
  font-family: 'ArchivoNarrow';
  src: url('/fonts/ArchivoNarrow.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

$color-purple: #4a2a50;
$color-tan: #e7cc98;
$color-gray: #9b9b9b;
$font-reg: 'ArchivoNarrow', sans-serif;
$font-header: 'BebasNeueRegular';
$font-serif: 'Crimson Text';

@import './card.scss';
@import './homeboxes.scss';
@import './hero.scss';
@import './boardRec.scss';

body {
  background-color: $color-purple;
  color: $color-tan;
  font-family: $font-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

#section-video {
  min-height: 20vh;
  background-color: $color-tan;
  color: $color-purple;
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  & h1 {
    font-family: $font-header;
    font-size: 3rem;
    justify-self: center;
    text-align: center;
  }

  & .videos-grid {
    padding: 1em;
    width: 60%;
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    & .video-wrapper {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      background-color: $color-purple;
      border-radius: 0.5em;
      min-height: 180px;
      background-position: center;
      filter: grayscale(90%);
      justify-content: center;
      align-items: center;
      transition: filter 0.25s ease-in-out;

      & i {
        font-size: 1.5em;
        transition: font-size 0.25s ease-in;
      }
    }

    & .video-wrapper:hover {
      filter: grayscale(0%);
      & i {
        font-size: 2.5em;
      }
    }
  }
}

// DESKTOP
@media (min-width: 600px) {
  #home-boxes {
    grid-template-columns: 1fr 1fr;
  }

  .board-button-wrapper {
    display: flex;
    flex-direction: row;
  }

  & .video-wrapper {
    background-size: 130%;
  }
}

// MOBILE
@media (max-width: 600px) {
  #home-boxes {
    grid-template-columns: 1fr;
  }

  .board-button-wrapper {
    display: flex;
    flex-direction: column;
    & .recButton-wrapper {
      margin-bottom: 0.5em !important;
    }
  }

  & .video-wrapper {
    background-size: 130%;
  }
}
