@font-face {
  font-family: 'BebasNeueRegular';
  src: url("/fonts/BebasNeueRegular.otf"); }

@font-face {
  font-family: 'ArchivoNarrow';
  src: url("/fonts/ArchivoNarrow.otf"); }

.attack {
  fill: #dc3034; }

.defence {
  fill: #2c76ac; }

.versatile {
  fill: #6c4e8d; }

.scheme {
  fill: #fcbd71; }

body {
  background-color: #4a2a50;
  color: #e7cc98;
  font-family: "ArchivoNarrow", sans-serif; }

#nav {
  padding: 1em;
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  font-family: "BebasNeueRegular";
  font-size: 1.75rem; }
  #nav .nav-right > * {
    padding: 0 1em 0 0; }
